:root {
  --main: #282f3c;
  --accent: #161923;
  --text: #d7dfef;
}

body {
  background-color: #1e2631;
  font-family: "Montserrat", sans-serif;
  overflow-y: hidden;
}

* {
  padding: 0;
  margin: 0.5rem;
  box-sizing: border-box;
  border-radius: 1rem;
}

.container {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1fr;
  grid-template-rows: 1fr 3fr;
  height: 100vh;
}

.header {
  background-color: var(--accent);
  color: #fff;
  grid-area: 1 / 1 / 2 / 2;
  text-align: center;
  font-size: 3.5rem;
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  padding-top: 2rem;
}

.summary-container {
  grid-area: 1 / 2 / 2 / 4;
  height: 100%;
  display: flex;
}

.summary {
  width: 100%;
  height: 70%;
  margin: 1.5rem 1rem;
  background-color: var(--main);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.summary p {
  font-size: 1.5rem;
  font-weight: bold;
}
.summary h4 {
  font-size: 1rem;
  color: white;
  letter-spacing: 2px;
  font-weight: normal;
  text-transform: capitalize;
}

.transaction-container {
  background-color: var(--main);
  grid-area: 2 / 1 / 3 / 2;
  padding: 10px;
  border: 5px solid var(--main);
  box-shadow: 0 4px 6px var(--main);
  text-align: center;
  font-size: 1.5rem;
  color: white;
  margin-bottom: 3rem;
}

.transaction-container th {
  height: 1rem;
}

.transaction-container td {
  color: var(--text);
  letter-spacing: 1.25px;
}

.legend {
  width: 4rem;
  height: auto;
}

.expense-contain {
  grid-area: 2 / 3 / 3 / 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8rem;
  background-color: var(--main);
  margin-bottom: 3rem;
}

.input {
  background-color: var(--text);
  color: var(--fourth);
  width: 60%;
  height: 10%;
  margin: 0.5rem;
  padding-left: 10px;
  box-sizing: border-box;
  border-radius: 0;
  border: 2px solid var(--accent);
  letter-spacing: 1.2px;
  font-size: 0.9rem;
}

.button {
  background-color: var(--accent);
  color: white;
  font-weight: 500;
  letter-spacing: 1.5px;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s;
}

.button:hover {
  background-color: #384b6c;
}

.chart-container {
  background-color: var(--main);
  grid-area: 2 / 2 / 3 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}

.chart {
  width: 30rem;
  height: 30rem;
  border: 3px solid var(--main);
  border-radius: 50%;
}
