:root {
  --ut-orange: #ff8811ff;
  --indigo-dye: #2b4162ff;
  --cardinal: #d11149ff;
  --violet-web-color: #ff84e8ff;
  --emerald: #48bf84ff;
}

* {
  padding: 0;
  margin: 0;
}

/*      *** Expense ***      */
.container {
  display: flex;
  flex-wrap: wrap;
}

.expense-contain {
  display: flex;
  flex-wrap: wrap;
}

.expense-contain * {
  width: 160px;
  height: 40px;
  box-sizing: border-box;
}

.test {
  width: 160px;
  height: 40px;
}

.summary-container {
  background-color: var(--ut-orange);
  text-align: center;
  font: 2em sans-serif;
  display: flex;
}

.summary-container * {
  width: 100px;
  height: 100px;
  margin: auto;
}

.summary-income {
  background-color: lightseagreen;
}

.summary-expense {
  background-color: lightgreen;
}

.summary-saving{
  background-color: lightcyan;
}


.chart-container {
  width: 500px;
  height: 500px;
  background-color: var(--indigo-dye);
}

.chart {
  margin: auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid white;
}

.transaction-container {
  width: 200px;
  height: 500px;
  background-color: var(--emerald);
}
