:root {
  --ut-orange: #ff8811ff;
  --indigo-dye: #2b4162ff;
  --cardinal: #d11149ff;
  --violet-web-color: #ff84e8ff;
  --emerald: #48bf84ff;
}

/* * {
  padding: 0;
  margin: 0;
} */

/*      *** Expense ***      */

#expense-container {
  width: 400px;
  height: 100px;
  background-color: var(--cardinal);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#expense-container > * {
  width: 100px;
  border: 2px solid black;
}

.summary-container {
  width: 300px;
  height: 700px;
  background-color: var(--ut-orange);
}

.chart-container {
  width: 500px;
  height: 500px;
  background-color: var(--indigo-dye);
}

.chart {
  margin: auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid white;
}

.transaction-container {
  width: 200px;
  height: 500px;
  background-color: var(--emerald);
}
